#hero {
    width: 100%;
    height: 95vh;
    display: flex;
    margin: auto;
    background-image: url("/assets/hero-section.jpeg");
    justify-content: center;
    padding: 4rem;
    align-items: center;
    .cta-block {
        flex-basis: 30%;
        text-align: center;
    }

    .featured-block {
        flex-basis: 50%;
        min-height: 50%;
        border-radius: 1rem;
        padding: 2rem;
        background-color: #ffffffbc;
        display: flex;

        /* grid-template-columns: 1fr 3fr; */
        flex-direction: row;
        gap: 1.5rem;
        font-size: 1.2rem;

        img {
            display: block;
            min-width: 40%;
            object-fit: contain;
            flex-basis: 30%;
        }
         
        .recipe-details {
            flex-basis: 70%;
        }
        
        h2 {
            margin: 0;
            font-size: 1.5vw;
        }
    }

    h1 {
        font-size: 15vh;
        color: white;
        margin-bottom: 1rem;
    }
    
    .cta-hero-button {
        text-decoration: none;
        background-color: #fff;
        font-size: 2rem;
        padding: 10px 30px;
    }
    
    .featured-button-wrapper {
        text-align: right;
        margin-top: 1rem;
    }
    .featured-button {
        text-decoration: none;
        background-color: #fff;
        font-size: 1.5rem;
        padding: 6px 20px;
    }
}

